
.menu li.with-sub:hover:before,
.menu > li:before, .menu a.active:before {
	background: #2eafbb;
}

.b-social.social-header a:hover,
.menu a.active {
	color: #2eafbb;
}

.btn.colored {
	background: #2eafbb url(../../img/btn-bg.png) repeat-x top;
	border: 1px solid #26a4b1;

	color: #fff;
	text-shadow: 0 -1px 0px #178e9d;
}

.btn.colored:hover { 
	background: #178e9d url(../../img/btn-bg.png) repeat-x top;
	box-shadow: 0 1px 3px #d5eff1;
	border: 1px solid #178e9d;

	color: #fff;
	text-shadow: 0 -1px 0px #178e9d;
}

.icon-box i.colored {
	background: #3cc3cb;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	border: 1px solid #33bac3;

	color: #e7fdfe;
	text-shadow: 0 1px 1px #24abb6;
}

.m-alt .spoiler-title.active:before {
	background: #2eafbb url(../../img/btn-bg.png) repeat-x top;
	border: 1px solid #26a4b1;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	
	color: #fff;
	text-shadow: 0 -1px 0px #178e9d;
}

.progress-line {    
	background-color: #31b5c0;
}

.tp-caption span a {
	color: #2eafbb;
}

.bullet.selected {
	background: #2eafbb !important;
}

.tp-leftarrow.default:hover, .tp-rightarrow.default:hover {
	background: rgba(46,175,187,0.9) !important;
}

.submenu li:hover {
	background: #2eafbb;
	border-top: 1px solid #2eafbb;
	border-bottom: 1px solid #2eafbb;
}

.link-overlay:before {
	background: rgba(250,250,250,0.95);
}

.blockquote:before {
	color: #2eafbb;
}

a {
	color: #2eafbb;
}

a.dark-link:hover {
	color: #2eafbb;
}

a.work-name:hover {
	color: #2eafbb;
}

.news-title a:hover {
	color: #2eafbb;
}

.just-links.m-dark a:hover {
	color: #2eafbb;
}

.b-tag-cloud a:hover,
.b-tag-cloud.m-dark a:hover {
	background: #2eafbb url(../../img/btn-bg.png) repeat-x top;
	border: 1px solid #26a4b1;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);

	color: #fff;
	text-shadow: 0 -1px 0px #178e9d;
}

.b-twitter.m-footer a {
	color: #2eafbb;
}

.tp-caption.m-text-color span {
	padding: 0 !important;
	color: #2eafbb;
}

.tp-caption.m-bg-color span {
	background-color: rgba(46,175,187,0.9) !important;
	color: #fff;
}

.b-filter-list li.active {
	color: #2eafbb;
}

.b-filter-list li.active:before {
	height: 2px;
	background: #2eafbb;
}

.carousel-prev:hover, .carousel-next:hover {
	background: rgba(46,175,187,0.9);
}

.carousel-pagination li.active {
	background: #2eafbb;
}

.recent-post a {
	color: #2eafbb;
}

.b-categories a {
	color: #2eafbb;
}

.b-twitter.m-footer a {
	color: #2eafbb;
}

a.link {
	color: #2eafbb;
}

.pagination a:hover {
	background: #2eafbb url(../../img/btn-bg.png) repeat-x top;
	border: 1px solid #26a4b1;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);

	color: #fff;
	text-shadow: 0 -1px 0px #178e9d;
}

.pagination a.active {
	background: #f5f5f5;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.07);
	border-color: #d9d9d9;
}

.pagination a.active:hover {
	text-shadow: 0 1px 0 white;	
	color: #424346;
}

.post-meta a:hover {
	color: #2eafbb;
}

*::-moz-selection {
	background-color: #2eafbb !important;
	color: #fff;
}

*::selection {
	background-color: #2eafbb !important;
	color: #fff;
}

.b-user-info:before {
	border-top: 2px solid #2eafbb;
}

.btn-reply.cancel-reply {
	background: #2eafbb url(../../img/btn-bg.png) repeat-x top;
	border: 1px solid #26a4b1;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);

	color: #fff;
	text-shadow: 0 -1px 0px #178e9d;
}

.crumbs a:hover {
	color: #2eafbb;
}

p.intro strong.colored {
	color: #2eafbb;
}

.contact-mail a {
	color: #2eafbb;
}

.b-promo:before {
	border-left: 2px solid #2eafbb;
}

.tabs-nav li.active span:before {
	border-top: 2px solid #2eafbb;
}

.m-nav-left .tabs-nav li.active span:before {
	border-left: 2px solid #2eafbb;
}

.quote-text:before {
	color: #2eafbb;
}

.b-service i.m-colored,
.b-service i.m-dark:hover  {
	background: #3cc3cb url(../../img/serv-bg.png) repeat-x top;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	border: 1px solid #33bac3;

	color: #e7fdfe;
	text-shadow: 0 1px 1px #24abb6;
}

.b-list.m-circle li:before {
	background: #2eafbb  url(../../img/btn-bg.png) repeat-x top;
}

.b-side-nav a:hover {
	color: #2eafbb;
}

.b-side-nav a.active {
	border-color: #2eafbb;
	background: #2eafbb url(../../img/sidenav-bg.png) repeat-x top;
}

.b-side-nav a.active:hover {
	color: #fff;
}

.m-quad .b-social a:hover {
	background: #2eafbb;
}

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
	
	.b-tabs.m-nav-left:after, .b-tabs.m-nav-left:before {
		display: none;
	}

	.b-tabs.m-nav-left {
		border-top: none;
	}
	
	.b-tabs.m-nav-left .tabs-nav {
		float: none;
		display: block;
		top: 0;
	}
	
	.b-tabs.m-nav-left .tabs-nav li {
		width: auto;
		display: block;
		text-align: center;

		margin: 0;
	}

	.m-nav-left .tabs-nav li.active span:before {
		width: auto;

		position: absolute;
		top: -2px;	left: -21px;
					right: -21px;

		border-bottom: none;
		cursor: default;

		border-top: 2px solid #2eafbb;
		border-left: 0;
	}
	
}